<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <img
        class="img-fluid logo-dark mb-2"
        src="assets/img/ynkap-logo.png"
        alt="Logo" style="height: 6vw; width: 18vw !important"
      />

      <div class="loginbox">
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Création de compte</h1>
            <!-- <p class="account-subtitle">Access to our dashboard</p> -->

            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label class="form-control-label">Nom </label>
                <input class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label class="form-control-label">Prénom</label>
                <input class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label class="form-control-label">Téléphone</label>
                <input class="form-control" type="text" placeholder="6xxxxxxxx" />
              </div>
              <select name="pets" id="pet-select" class="form-group">
                <option value="">--Sélectionnez un Pays--</option>
                <option value="cm">Cameroun</option>
                <option value="ci">Cote d'ivoir</option>
                <option value="cg">Congo</option>
                <option value="gn">Ginné équatorial</option>
            </select>
              <div class="form-group">
                <label class="form-control-label">Adresse Email</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="email"
                  id="email"
                  [ngClass]="{
                    'is-invalid': f['email'].touched && f['email'].invalid
                  }"
                />
                <div
                  *ngIf="f['email'].touched && f['email'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="f['email'].errors && f['email'].errors['required']"
                  >
                    l'email est requis.
                  </div>
                </div>
                <div *ngIf="CustomControler != 0" class="invalid-feedback">
                  {{ CustomControler }}
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">Mot de passe</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="password"
                  id="password"
                  [ngClass]="{
                    'is-invalid': f['password'].touched && f['password'].invalid
                  }"
                />
                <div
                  *ngIf="f['password'].touched && f['password'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
                  >
                    Mot de passe requis.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label">Confirmation de mot de passe</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  [ngClass]="{
                    'is-invalid': f['confirmPassword'].touched && f['confirmPassword'].invalid
                  }"
                />
                <div
                  *ngIf="
                    f['confirmPassword'].touched && f['confirmPassword'].invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      f['confirmPassword'].errors &&
                      f['confirmPassword'].errors['required']
                    "
                  >
                    Confirmer le mot de passe
                  </div>
                </div>
                <div *ngIf="isvalidconfirmpassword" class="invalid-feedback">
                  Le mot de passe ne correspond pas.
                </div>
              </div>

              <div class="form-group mb-0">
                <button
                  [disabled]="form.invalid"
                  class="btn btn-lg btn-block btn-primary w-100"
                  type="submit"
                >
                  Créer un compte
                </button>
              </div>
            </form>
            <!-- /Form -->

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">ou</span>
            </div>
            <!-- Social Login -->
            <div class="social-login">
              <span>Créer avec</span>
              <a href="javascript:void(0);" class="facebook"><i class="fab fa-facebook-f"></i></a
              ><a href="javascript:void(0);" class="google"><i class="fab fa-google"></i></a>
            </div>
            <!-- /Social Login -->
            <div class="text-center dont-have">
              Vous avez déjà un compte? <a [routerLink]="'/login-form'">Connexion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
